<h2>New User Account</h2>
<hr/ >

@if (!ViewData.ModelState.IsValid)
{
  @Html.ValidationSummary("Please fix the following error(s) before resubmitting:")
}

@model TravelersBlog.ViewModels.RegisterViewModel
@using (Html.BeginForm())
{
  @Html.LabelFor(u => u.Username)
  @Html.TextBoxFor(u => u.Username)

  @Html.LabelFor(u => u.Email)
  @Html.TextBoxFor(u => u.Email)

  @Html.LabelFor(u => u.Password)
  @Html.EditorFor(u => u.Password)

  <input type="submit" value="Register" />
}